<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.em.dao.ReservationMapper">

    <select id="findRoomsByTime" resultType="com.em.domain.Room">
        select * from room where id not in (
        select a.room_id from
        (select * from reservation where date = #{date} group by room_id, endtime, begintime
        having ((begintime &lt;= #{begintime} and endtime &gt;= #{begintime}) or (begintime &lt;= #{endtime} and endtime &gt;= #{endtime}) or (begintime &gt;= #{begintime} and endtime &lt;= #{endtime} ))
        ) a
        )
    </select>

    <select id="reservationCount" resultType="int">
        SELECT count(*) FROM reservation a WHERE date>CURDATE() AND a.status='待审核'
    </select>

    <select id="reserveCount" resultType="int">
        SELECT count(*) FROM reservation a WHERE date>CURDATE() AND status!='取消申请'
    </select>

    <select id="findByPaging" parameterType="com.em.domain.PagingVO" resultType="com.em.domain.ReservationVo">
        SELECT a.id,b.`name` ,a.date,a.begintime,a.endtime,a.`user`,a.status FROM reservation a
        LEFT JOIN room b on a.room_id=b.id
        WHERE date>CURDATE() AND a.status='待审核' ORDER BY id
        limit #{toPageNo}, #{pageSize}
    </select>

    <select id="findAllByPaging" parameterType="com.em.domain.PagingVO" resultType="com.em.domain.ReservationVo">
        SELECT a.id,b.`name` ,a.date,a.begintime,a.endtime,a.`user`,a.status FROM reservation a
        LEFT JOIN room b on a.room_id=b.id
        WHERE date>CURDATE() AND status!='取消申请' ORDER BY date DESC
        limit #{toPageNo}, #{pageSize}
    </select>

    <select id="findByName" parameterType="string" resultType="com.em.domain.Reservation">
        SELECT a.id,b.`name` ,a.date,a.begintime,a.endtime,a.`user`,a.status FROM reservation a
        LEFT JOIN room b on a.room_id=b.id
        WHERE date>CURDATE() AND a.status='待审核' AND a.user LIKE '%${value}%' ORDER BY id
    </select>

    <select id="reservationPassCount" resultType="int">
        SELECT count(*) FROM reservation a WHERE date BETWEEN CURDATE()-30 AND CURDATE() AND a.status='审核通过' ORDER BY date DESC
    </select>

    <select id="findRecord" parameterType="com.em.domain.PagingVO" resultType="com.em.domain.ReservationVo">
        SELECT a.id,b.`name` ,a.date,a.begintime,a.endtime,a.`user`,a.status FROM reservation a
        LEFT JOIN room b on a.room_id=b.id
        WHERE date BETWEEN CURDATE()-30 AND CURDATE() AND a.status='审核通过' ORDER BY id
        limit #{toPageNo}, #{pageSize}
    </select>

    <select id="queryByUser" parameterType="string" resultType="com.em.domain.ReservationVo">
        SELECT a.id,b.`name` ,a.date,a.begintime,a.endtime,a.`user`,a.status FROM reservation a
        LEFT JOIN room b on a.room_id=b.id
        WHERE date>CURDATE() AND a.user LIKE '%${value}%' ORDER BY date DESC
    </select>

    <update id="reviewReservation" parameterType="int">
        UPDATE reservation SET status='审核通过' WHERE id=#{id}
    </update>

    <insert id="addReservation" parameterType="com.em.domain.Reservation">
        INSERT INTO reservation(date,begintime,endtime,room_id,user,def1,def2,def3,status,createtime)
        VALUES (#{date},#{beginTime},#{endTime},#{roomId},#{user},#{def1},#{def2},#{def3},#{status},#{createTime})
    </insert>

    <select id="findByUser" parameterType="string" resultType="com.em.domain.Reservation">
        SELECT * FROM reservation WHERE user=#{value} ORDER BY createtime DESC LIMIT 5
    </select>

    <select id="findById" parameterType="int" resultType="com.em.domain.Reservation">
        SELECT * FROM reservation WHERE id=#{value}
    </select>

    <update id="cancelApplication" parameterType="int">
        UPDATE reservation SET status=3 where id=#{id}
    </update>
</mapper>